*{
  font-family: "Source Sans Pro" sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

h1{
  font-size: 7vh;
  letter-spacing: 0.1vw;
  font-style: italic;
  color: #40b48e;
  text-shadow: 0 0.2vw 5vh rgb(119, 115, 115);
  text-transform: uppercase;
  text-align: center;
  margin: 4vh 0;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.search-container{
  width: 85vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #d3d3d3;
  border-radius: 1vh;
  box-shadow: 1vw 2vh 5vh #aaa;
  position: relative;
}

.micro-image {
  display: block;
  margin: auto;
}

@keyframes spin{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

.hourglass-image{
  display: block;
  margin: auto;
  animation: spin 5s linear 0s infinite;
}


.alert-message{
  position: absolute;
  top: -3vh;
  left: 0;
  background-color: red;
  width: calc(100% - 0.4vw);
  border-radius: 0.5vh;
  padding: 0.2vh;
}

.alert-message h3{
  font-size: 1.8vh;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-container input[class="form-control"]{
  width: 50vw;
}

.btn{
  height: 5vh;
}

.search-container button:hover{
  background-color: #40b48e;
  color: #fff;
}

.recipe{
  width: 40vw;
  margin: 3vh;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 1.5vh;
  position: relative;
  border-radius: 1vh;
  box-shadow: 2vw 3vh 5vh #aaa;
}

.recipe h2{
  font-size: 2.5vh;
  font-weight: 400;
  margin-right: auto;

}

.recipe img{
  border-radius: 1vh;
  object-fit: cover;
}

.recipe a{
  font-size: 3vh;
  color: #40b48e;
}

.ingredients-button{
  font-size: 2vh;
  text-transform: uppercase;
  color: #fff;
  background-color: #40b48e;
  border: none;
  border-radius: 1vh;
  height: 3vh;
  
}

.recipe button:hover{
  color: #fff;
  background-color: #145741;
  
}

.star-image{
  display: block;
  margin: auto;
}

.recipe-head{
  display: flex;
  flex-direction: row-reverse;
}



.ingredient-list{
  margin-top: 1vh;
  background-color: #f0f0f0;
  border-radius: 1vh;
  padding: 0.5vw;
}

.ingredient-list li{
  margin: 0.5vh 0;
}

.ingredient-text{
  font-size: 2vh;
  color: #888;
}

.ingredient-weight{
  color: #40b48e;
  font-size: 2vh;
}

.chips-zone{
  display: block;
  background-color: #fff;
}

.closebtn {
  padding-left: 0.5vw;

  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.favorite-recipe{
  width: 40vw;
  margin: 3vh;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 1.5vh;
  position: relative;
  border-radius: 1vh;
  box-shadow: 2vw 3vh 5vh #aaa;
}

.favorite-recipe-head{
  display: flex;
  flex-direction: row-reverse;
}

.favorite-recipe button{
  margin-left: auto;
}

.favorite-recipe a{
  color:#40b48e;

}